/* 
Admin Stylesheet
*Dashboard
*Edit & Create Forms general
*Show Treatment & Hero
*/

// Import Variables
@import 'variables';

/* Dashboard */
.adminDashboard {
  margin: 20px;
  padding: 20px;

  .dashboardHeading {
    margin-bottom: 40px;
    text-align: center;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;

      span {
        font-size: 18px;
        color: #888;
      }
    }
  }

  .twoCol {
    grid-column: 1/-1;
  }

  .dashboardSetingsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .dashboardSetings {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 16px;

          a {
            text-decoration: none;
            display: flex;
            align-items: center;

            svg {
              margin-right: 5px;
            }
          }
        }
      }

      h3 {
        font-size: 18px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* Edit Form */
.editSection,
.createHero {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .editForm,
  .createHeroForm {
    display: flex;
    flex-direction: column;

    select,
    input[type='text'],
    input[type='tel'],
    input[type='number'],
    input[type='email'],
    textarea {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    select {
      cursor: pointer;
    }

    .editBtn,
    .createHeroBtn {
      color: #fff;
      width: 200px;
    }
  }
}

/* Show Treatment & Hero*/
.AdminTableContain {
  margin: 20px;
  border-radius: 5px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    td {
      text-align: center;

      select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
      }
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }
  }

  .heroCreateBtn,
  .CreateBtn {
    color: #fff;
  }
}